*{
    text-align: center;
}   

ul{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-height: 100%;
    max-width: 100%;
}

:root{
    --blunotte:#2C3E50;
    --watergreen:#1ABC9C;
    --darck-blu:#3A546D;
}


/* UTILITY */

.bottom-line{
    border-bottom: 1px solid gray;
}

.top-line{
    border-top: 1px solid gray;
}

.divisor::after,  .divisor::before {
    height: 6px;
    background-color: white;
    max-width: 200px; 
    content: '';
    border-radius: 999px;
    flex-grow: 1;
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

.divisor-gray::after,  .divisor-gray::before {
    height: 6px;
    background-color: gray;
    max-width: 200px; 
    content: '';
    border-radius: 999px;
    flex-grow: 1;
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
}

/* SEZIONI */

.section-1{
    background-color: #2C3E50;
}

.section-2 img{
    max-width: 230px;
}

.section-2, .section-4{
    background-color: #1ABC9C;
}

.section-6{
    background-color: #2C3E50;
}

.section-7{
    background-color: #3A546D;
}


/*   COLORI   */


.c-white{
    color:white
}



/* debug */
/* 
.de-bug{
    border: 1px solid black;
}

.de-bug-section{
    border: 1px solid red;
}

.de-bug-col{
    border: 1px solid black;
   
} */


input{
    border: 0px;
    padding: 20px;
}

.i-big{
    height: 200px;
}


.container-small{
    max-width: 976px;
    padding: 20px;
}
